body {
    background-color: rgb(255, 255, 255);
  }
a{
  text-decoration: none;
}
p{
  font-family: "Quicksand";
}
h1{
  font-family: "Lobster Two";
}
h2{
  font-family: "Quicksand";
}
/*navbar*/
.topnav {
  overflow:hidden;
  background-color: #F999B7;
  
}

.topnav a {
  float: right;
  display: inline;
  color: #f2f2f2;
  text-align:center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 17px;
  font-family: "Quicksand";
}

.topnav a.active {
  background-color: #FFFFDD;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display:inline-block}
}

.logo{
  padding-top: 10px;

}

/*INDEX*/
.mainindex{
  text-align: center;
  padding-top: 10%;
  padding-bottom: 20%;
  font-family: "Quicksand";
}
/*ABOUT ME*/
.whoami{
  padding-top: 5%;
  font-size: 70px;
  font-family: "Rock Salt";
  word-spacing: 15px;
  font-weight: 50;
}
.aboutmediv{
  padding-bottom: 5%;
}
.ancorcat:link , ancorcat:visited {
  background-color: #F9C5D5;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.ancorcat:hover , ancorcat:active{
  background-color: #FFFFDD;
  color:black;
}

.aboutmelist{
  padding-top: 10%;
  padding-left: 45%;
  padding-bottom: 5%;
  
  font-family: "Quicksand";
}
/* footer*/
  article {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
  }
  
  footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #000000;
    color: #fff;
    font-family: "Quicksand"
  }

  footer a {
    float: right;
  display: inline;
  color: #f2f2f2;
  text-align:center;
  padding: 16px 16px;
  text-decoration: none;
  font-size: 17;


  }
            /* to make the dot of the list desapear*/
  .footerlist{
    list-style: none;
  }