body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
  }
a{
  text-decoration: none;
}
p{
  font-family: "Quicksand";
}

h2{
  font-family: "Vidaloka";
  color: #F2789F;
  text-align: center;
}

h3{
  color: #F2789F;
  font-family: "Rock Salt";
  word-spacing: 15px;
  font-weight: 50;
  font-size: 35px;

}
.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10%;
  width: 15%;
}

/*navbar*/
.topnav {
  overflow:hidden;
  background-color: #F999B7;
  
}

.topnav a {
  float: right;
  display: inline;
  color: #f2f2f2;
  text-align:center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 17px;
  font-family: "Quicksand";
}


.active:link , active:visited {
  background-color: #F999B7;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.active:hover , active:active{
  background-color: #FFFFDD;
  color:black;
}



/*/////INDEX////////////////////////*/
.mainindex{
  text-align: center;
  padding-top: 10%;
  font-family: "Quicksand";
}

.indextable{
  padding-bottom: 10%;
}

/*/////ABOUT ME/////////////////////*/
.whoami{
  padding-top: 5%;
  font-size: 70px;
  font-family: "Rock Salt";
  word-spacing: 15px;
  font-weight: 50;
}
.aboutmediv{
  padding-bottom: 5%;
}
.ancorcat:link , ancorcat:visited {
  background-color: #F999B7;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.ancorcat:hover , ancorcat:active{
  background-color: #FFFFDD;
  color:black;
}

.hobbieslist{
  text-align: center;
  padding-top: 10%;
  padding-bottom: 5%;
  font-family: "Quicksand";
}

.hobbies{
  display: inline-block;
  text-align: left;
}

.workexperience{
  padding-top: 5%;
}

.workexperiencetable{
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 5%;
}

/*//////dashboard////////////////////////////*/
.dashboarddiv{
  text-align: center;
  padding-top: 5%;
  padding-bottom: 10%;
}
.dasboardtable{
  text-align: justify;
  font-family: "quicksand";
  margin-right: auto;
  margin-left: auto;
  
}
.dashboarddiv p{
  padding-top: 5%;
}

/*/////FAQ///////////////////*/
.faqlist{
  list-style-type: none;
  padding-top: 5%;
}

.faqdiv{
  padding-top: 5%;
  padding-bottom: 10%;
}
/*//////footer//////////////////////////////*/

#footer {
  text-align: center;
  background-color: #F999B7;
  padding: 5px;
  bottom: 0;
  width: 100%;
}

#footer a {
  margin: 0 10px;
  color: rgb(255, 255, 255);
  font-family: "quicksand";
  font-size: 15px;
}
#footer p {
  margin: 1%;
  color: white;
  font-family: "quicksand";
  font-size: 12px;
}

/*/////FAQ///////////////////*/
.faqlist{
  list-style-type: none;
}
  