body {
    background-color: rgb(255, 255, 255);
    margin: 0;
  }

a{
  text-decoration: none;
}

p{
  font-family: "Quicksand";
}
hr{
  color: lightgray;
  border-top:dotted 8px;
  border-left: 0;
  border-bottom: 0;
  border-right: 0;
  margin-left: 46%;
  margin-right: 46%;
  padding-bottom: 5%;
  
  
}
h2{
  font-family: "Vidaloka";
  font-weight: 50;
  font-size: 40px;
  color: #F2789F;
  text-align: center;
  
}

h3{
  color: #F2789F;
  font-family: "Rock Salt";
  word-spacing: 15px;
  font-weight: 50;
  font-size: 35px;
}

.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5%;
  width: 15%;
}


/*navbar*/
.topnav {
  overflow:hidden;
  background-color: #F9C5D5;
  width: 100%;
}
.topnav a {
  float: left;
  display: inline;
  text-align:center;
  color: white;
  font-size: 17px;
  font-family: "Quicksand";
}
.navbarancor{
  padding-top: 5px;
}
.active:link , active:visited {
  background-color: #F9C5D5;
  color: white;
  padding: 15px 20px;
  text-align: center;
  display: inline-block;
  border-radius: 5px;
}
.active:hover , active:active{
  background-color: #FFFFDD;
  color:black;
}

/*/////INDEX////////////////////////*/
main{
  text-align: center;
  padding-top: 10%;
  font-family: "Quicksand";
}
.indextable{
  padding-bottom: 10%;
}

/*/////ABOUT ME/////////////////////*/
.whoami{
  font-size: 70px;
  font-family: "Rock Salt";
  word-spacing: 15px;
  font-weight: 50;
}

.aboutmediv{
  padding-bottom: 5%;
}

.ancorcat:link , ancorcat:visited {
  background-color: #F9C5D5;
  color: white;
  padding: 14px 25px;
  text-align: center;
  display: inline-block;
}
.ancorcat:hover , ancorcat:active{
  background-color: #FFFFDD;
  color:black;
}
.catbutton{
  padding-bottom: 5%;
}
.catbutton p{
  color: white;
  text-align: center;
}

.hobbieslist{
  text-align: center;
  padding-bottom: 5%;
  font-family: "Quicksand";
}

.hobbies{
  display: inline-block;
  text-align: left;
}

.workexperiencetable{
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 5%;
}

/*//////dashboard////////////////////////////*/

.dashboarddiv{
  text-align: center;
  padding-bottom: 10%;
}
.dasboardtable{
  text-align: center;
  font-family: "quicksand";
  margin-right: auto;
  margin-left: auto;
  border-color: lightgray;
  width: 70%;
}
.dasboardtable th{
  text-align: left;
  background-color: #F9C5D5;
  color: white;
  border-color: lightgray;
}
.dashboarddiv p{
  padding-top: 5%;
}
.progresstext{
  padding-bottom: 5%;
}
.progressdiv{
  padding-bottom: 5%;
}
.progressbar{
  background-color:lightgray;
  width: 70%;
  height: 10px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}
.progressbar div{
  height: 10px;
  border-radius: 5px;
  background-color:#F999B7;
  width: 0;
}
.progressbar div span{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #F999B7 ;
  background-color:white;
  float: right;
  margin-top: -15px;
  margin-right: -20px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.progress{
  animation: progress 1s linear forwards;
}
@keyframes progress {
  100%{
    width: 10%;
  }
}

/*/////FAQ///////////////////*/
.faqdiv{
  text-align: justify;
  padding-bottom: 5%;
  padding-right: 5%;
  padding-left:5%
  

}
.faqlist{
  list-style-type: none;
  padding-top: 5%;

}


/*//////footer//////////////////////////////*/
#footer {
  text-align: center;
  background-color: #F9C5D5;
  padding: 5px;
  width: 100%;
}

#footer a {
  margin: 0 10px;
  color: rgb(255, 255, 255);
  font-family: "quicksand";
  font-size: 15px;
}

#footer p {
  color: white;
  font-family: "quicksand";
  font-size: 12px;
}

/*/////FAQ///////////////////*/
.faqlist{
  list-style-type: none;
}
  